<style>
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Merienda:wght@400;700&display=swap');    
    /* Responsive Styles */
    /* @media screen and (max-width: 767px) {
.card-container > *:not(.circle-link) ,
.terminal {
  width: 100%;
}

/* .card:not(.highlight-card) {
  height: 16px;
  margin: 8px 0;
} */

.card.highlight-card span {
  margin-left: 72px;
}

/* svg#rocket-smoke {
  right: 120px;
  transform: rotate(-5deg);
}
} */

@media screen and (max-width: 575px) {
svg#rocket-smoke {
  display: none;
  visibility: hidden;
}
} */
    .card-container .card:not(:last-child) {
        margin-right: 0;
    }

    .card.card-small {
        height: 16px;
        width: 168px;
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
    }

    .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
        /* align-items: center; */
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    .card {
        border-radius: 4px;
        border: 1px solid rgba(166, 177, 187, 0.911);
        background-color: #a0b2cf;
        height: 40px;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        margin-right: -220;
        margin: auto;
    }


    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Merienda', cursive;
        overflow-x: hidden;
        margin-bottom: 3em;
    }

    h4 {
        font-size: 40px;
        font-family: "Charm", cursive;
    }
</style>


<h2 class="text-center mt-3 text-uppercase text-default">About GitSearch</h2>
<div class="container">
    <p>GitSearch is a website that uses Git Api to display the profile and the repositories of a person has</p>
    <p>Through this, one can enter their github username and click search to view their profile and repositories</p>

    <p>I have managed to build this using the following languages:</p>
    <input type="hidden" #selection>

    <div class="card-container">
        <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>

            <span>Angular</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>

            <span>TypeScript</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>

            <span>HTML</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>

            <span>CSS & Bootstrap</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'test'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>

            <span>Run and Watch Tests</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'build'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>

            <span>Build for Production</span>
        </div>
   

    <p>Well,building this has been super Awesome,&#128512; getting to learn the new language and consuming APIs</p>
    <p>Planning to expand it in future</p>
</div>